# Python 3 Only
# =============
black;python_version>="3.6"

# Python 2 Compatibility
# ====================
funcsigs;python_version<"3.6"

# Distribution
# ============
twine
cmarkgfm

# Documentation
# =============
sphinx-rtd-theme
sphinx-autodoc-typehints

# Testing
# =======
pytest
flake8
